TAGS
tags
*~
*.o
CVS
.bzr
depend
src/libraries/sfwww-common/src/com/sourcefire/client/localization/Strings.properties
src/libraries/sfwww-common/src/com/sourcefire/client/localization/Strings_jp.properties
src/libraries/sfwww-common/src/com/sourcefire/client/localization/Strings.java
src/libraries/sfwww-common/dist
src/libraries/sfwww-common/.build.xml.swp
src/libraries/sfwww-common/.cvsignore
src/libraries/sfwww-common/sf-common.jar
src/libraries/sfwww-common/.gwt
src/libraries/sfwww-common/build
src/binaries/gwt-www/ComparisonViewer/src/com/sourcefire/client/compare/localization/StaticStrings.java
src/binaries/gwt-www/ComparisonViewer/src/com/sourcefire/client/compare/localization/Strings.java
src/binaries/gwt-www/ComparisonViewer/src/com/sourcefire/client/compare/localization/StaticStrings_jp.properties
src/binaries/gwt-www/ComparisonViewer/src/com/sourcefire/client/compare/localization/Strings.properties
src/binaries/gwt-www/ComparisonViewer/src/com/sourcefire/client/compare/localization/Strings_jp.properties
src/binaries/gwt-www/ComparisonViewer/src/com/sourcefire/client/compare/localization/StaticStrings.properties
src/binaries/gwt-www/ComparisonViewer/.gwt
src/binaries/gwt-www/ComparisonViewer/war/WEB-INF/lib/gwt-servlet.jar
src/binaries/ddd/src/com/sourcefire/ddd/client/NameTokens.class
src/binaries/ddd/build
src/binaries/ddd/.gwt
src/binaries/ddd/gwt-unitCache
src/binaries/ddd/war/WEB-INF/lib/gwt-servlet.jar
src/binaries/ddd/war/WEB-INF/classes
src/binaries/ddd/war/WEB-INF/deploy
src/binaries/ddd/war/ddd
src/binaries/ddd/war/com.*
src/binaries/sfreportgen/*.o
src/binaries/sfreportgen/*.pdf
src/binaries/sfreportgen/csv2pdf.exe
src/binaries/sfreportgen/sfreport
src/binaries/sfreportgen/*.a
src/binaries/DetectionPolicy/src/com/sourcefire/client/ids/localization/StaticStrings.java
src/binaries/DetectionPolicy/src/com/sourcefire/client/ids/localization/Strings.java
src/binaries/DetectionPolicy/src/com/sourcefire/client/ids/localization/OPSECStrings.java
src/binaries/DetectionPolicy/src/com/sourcefire/client/ids/localization/StaticStrings.properties
src/binaries/DetectionPolicy/src/com/sourcefire/client/ids/localization/StaticStrings_jp.properties
src/binaries/DetectionPolicy/src/com/sourcefire/client/ids/localization/OPSECStrings.properties
src/binaries/DetectionPolicy/src/com/sourcefire/client/ids/localization/Strings.properties
src/binaries/DetectionPolicy/src/com/sourcefire/client/ids/localization/OPSECStrings_jp.properties
src/binaries/DetectionPolicy/src/com/sourcefire/client/ids/localization/Strings_jp.properties
src/binaries/DetectionPolicy/war/WEB-INF/lib/gwt-servlet.jarsrc/binaries/sfrulesimporter/.gdb_history
src/binaries/sfrulesimporter/classification_test
src/binaries/sfrulesimporter/parse_rule_test
src/binaries/sfrulesimporter/rules_importer

# additional directories to ignore
src/binaries/DetectionPolicy/war/WEB-INF/classes/
src/binaries/DetectionPolicy/war/WEB-INF/lib/
src/binaries/ddd/test-classes/
src/binaries/gwt-www/ComparisonViewer/war/WEB-INF/classes/

